{{- if .Params.faq -}}
    {{- $faqItems := slice -}}
    
    {{- if eq (printf "%T" .Params.faq) "map[string]interface {}" -}}
        {{- range $question, $answer := .Params.faq -}}
            {{- $faqItems = $faqItems | append (dict "@type" "Question" "name" $question "acceptedAnswer" (dict "@type" "Answer" "text" $answer)) -}}
        {{- end -}}
    {{- else -}}
        {{- range .Params.faq -}}
            {{- with .question -}}
                {{- with $.answer -}}
                    {{- $faqItems = $faqItems | append (dict "@type" "Question" "name" .question "acceptedAnswer" (dict "@type" "Answer" "text" $.answer)) -}}
                {{- end -}}
            {{- else -}}
                {{- range $item := . -}}
                    {{- if reflect.IsMap $item -}}
                        {{- with $item.question -}}
                            {{- with $item.answer -}}
                                {{- $faqItems = $faqItems | append (dict "@type" "Question" "name" $item.question "acceptedAnswer" (dict "@type" "Answer" "text" $item.answer)) -}}
                            {{- end -}}
                        {{- end -}}
                    {{- end -}}
                {{- end -}}
            {{- end -}}
        {{- end -}}
    {{- end -}}

    {{- if $faqItems -}}
<script type="application/ld+json">
{
    "@context": "https://schema.org",
    "@type": "FAQPage",
    "mainEntity": {{ $faqItems | jsonify }}
}
</script>
    {{- end -}}
{{- end -}}
